* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #cccccc;
	margin: 0;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	padding: 30px;
	background: #24AE7F;
	color: #fff;
	text-align: center;
}

h1 {
	margin-top: 0;
}

.field {
	margin-bottom: 20px;
	font-size: 20px;
}


button {
	width: 100%;
	border: none;
	background-color: #c00512;
	color: #ffffff;
	font-size: 20px;
	height: 40px;
	border-radius: 20px;
}